# フォルダを除外
# 201804-07_Reference_Doc/
201801-03_Reference_Doc
**/限定公開/*
**/非公開/*

# 「.DS_Store」や「._.DS_Store」を除外
#*.DS_Store

# あらゆる階層の「cache」フォルダの中身だけを除外。
# 「cache」フォルダ自体は無視しない。
# 詳しくは下記のリンクを。
**/cache/*
!.gitkeep 
